@page "/ViewPosts"
@using global::Shared.Models
@using HttpClient.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navManager

<h3>View Posts</h3>

<div>
    <button @onclick="LoadTodos">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Owner</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Post post in posts)
        {
            <tr @onclick="() => ReadPostOnClick(post.Id)">
                <td>@post.OwnerUsername</td>
                <td>@post.Title</td>
                <td>@post.Body</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    private async Task LoadTodos()
    {
        try
        {
            posts = await postService.GetPostAsync(null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ReadPostOnClick(int postId)
    {
        navManager.NavigateTo($"/viewposts/{postId}");
    }
}