@page "/ViewPost/{id:int}"
@using global::Shared.Models
@using HttpClient.ClientInterfaces
@inject IPostService postService
@inject IUserService userService


@if (post != null)
{
    <div class="card">
        <div class="form-group field">
            <label>Title: @post.Title</label>
        </div>
        <div class="form-group field">
            <label>Body: @post.Body</label>
        </div>
        <div class="form-group field">
            <label>Owner: @post.OwnerUsername</label>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private Post post;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
        {
        post = await postService.GetPostAsync(id);
        }
}